:root{
    --stretch-bezeir-curve:cubic-bezier(.32,.34,.33,1.56);

}
.carousel {
    display: flex;
    position: absolute;

    height: 30vh;
    width: fit-content;
    max-width: 100%;

    background-color: var(--carousel-bg);
    border-radius: 3em;
    border: 1em solid transparent;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    overflow: hidden;

}
.carousel-item-container{
    position: relative;
    width: fit-content;
    display: flex;
    gap: 1em;
    border-radius: inherit;
    transition: transform 250ms ease-in-out, filter 250ms ease-in-out;
}
.carousel-item {
    display: block;
    user-select: none;
    pointer-events: all;

    border-radius: inherit;
    position: relative;
    /*top: 50%;*/

    flex-direction: column;
    justify-content: end;

    aspect-ratio: 16/9;
    opacity: 1;

    background-size: cover;
    background-color: var(--carousel-bg);
    color: var(--text-on-carousel-color);

    will-change: z-index;

    transform: translateX(0) scale(1);
    overflow: hidden;
    transition: transform 250ms ease-in-out, filter 250ms ease-in-out;
}



.carousel-item h2 {
    font-size: 2em;
    text-shadow: 0 0 10px #000;
    padding: 0.5em 0.5em 0.3em 0.5em;
    color: var(--text-color-primary);
    position: absolute;
    bottom: 0;}


.carousel-button {
    position: absolute;
    height: 50px;
    width: 50px;
    backdrop-filter: blur(10px);
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: var(--border-radius);
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}

.carousel-button.left {
    left: 0;
}

.carousel-button.right {
    right: 0;
}
