:root{
    --stretch-bezeir-curve:cubic-bezier(.32,.34,.33,1.56);

}
.carousel {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100vw;
}

.carousel-item {
    user-select: none;
    pointer-events: none;

    position: absolute;
    top: 50%;

    display: flex;
    flex-direction: column;
    justify-content: end;

    /*height: 50vh;*/
    width: min(60vw,60vh);
    aspect-ratio: 16/9;
    /*max-width: 500px;*/
    /*max-height: 500px;*/
    filter: brightness(0.5);
    opacity: 0;

    background-size: cover;
    background-color: var(--carousel-bg);
    color: var(--text-on-carousel-color);

    border-radius: var(--border-radius);

    will-change: z-index;
    transform: translateY(-50%) translateX(-50%);
    transition: all 500ms var(--stretch-bezeir-curve);

    overflow: hidden;

}


.carousel-item p {
    font-size: 1.3em;
    padding: 0 0.5em 1.2em 1em;
    color: var(--text-color-secondary);
}

.carousel-item h2 {
    font-size: 1.5em;
    text-shadow: 0 0 3px #000;
    padding: 0.5em 0.5em 0.3em 0.5em;
    color: var(--text-color-primary);
}

.carousel-item.selected {
    pointer-events: all;
    /*transform: scale(1) translateY(-50%) !important;*/
    filter: brightness(1) !important;
    box-shadow: 0 0 100px 10px #000;
}

.carousel-button {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1px);
    position: absolute;
    width: 5vw;
    min-width: 30px;
    height: 100vh;
    top: 0;
    border-radius: 0;
    transition: background-color 250ms ease-in-out, opacity 250ms, backdrop-filter 250ms ease-in-out;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.carousel-button.left {
    left: 0;
}

.carousel-button.right {
    right: 0;
}
