*{
    border:none;
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: background-color 250ms ease, color 250ms ease;
    font-family:"Roboto",Arial, Helvetica, sans-serif;
}
html{
    overflow-x: hidden;
    max-width: 100vw;
}
body {
    background-color: var(--surface-bg-color);
    overflow-x: hidden;
}

button {
    border: none;
    border-radius: 1em;
}

a{
    text-decoration: none;
}
section{
    height:100vh;
    width:100vw;
    /*padding: 1em;*/
    position: relative;
}
section:nth-child(even){
    background-color: var(--section-color-bg-even);
}
section:nth-child(odd){
    background-color: var(--section-color-bg-odd);
}
p{
    color: inherit;
    max-width: 100ch;
    font-size: 1.5em;
}