@media (pointer:coarse) {
    .carousel-button {
        height: 50px;
        width: 50px;
        backdrop-filter: blur(10px);
        top: 50%;
        transform: translateY(-50%);
        border-radius: var(--border-radius);
    }
}


@media only screen and (max-width: 700px) {
    .carousel-item {
        aspect-ratio: 4/5;
        width: 80vw;
    }


    /*.carousel-item > div > h2 {*/
    /*    font-size: 1em;*/
    /*    padding: 0.5em 0.5em 0.1em 0.8em;*/
    /*    color: var(--text-color-primary);*/
    /*}*/
}