:root{
    --surface-bg-color: #bec8f3;
    --surface-bg-color-shade: #f9f9f7;



    --border-color: rgba(0, 0, 0, 0.52);
    --overlay-color: rgba(97, 72, 51, 0.73);
    --section-color-bg-even: #ffffff;
    --section-color-bg-odd: #ffffff;
    --primary-color: #0d0053;
    --tooltip-color:#000;
    --primary-color-hover: #bb88fa;
    --navbar-text-color: #ffffff;
    --navbar-bg-color:#1d1d1d;
    /* === BUTTON COLORS === */
    --button-bg-default-color: #5b88fa;
    --button-bg-highlighted-color: #e0e0e0;
    --button-bg-selected-color: #d0d0d0;
    --button-bg-hover-color: #c0c0c0;

    --button-fg-default-color: #333333;
    --button-fg-highlighted-color: #222222;
    --button-fg-selected-color: #111111;
    --button-fg-hover-color: #000000;
    --carousel-bg: rgb(159, 236, 239);
    /* === TEXT COLORS === */
    --text-on-primary-color: #ffffff;
    --text-on-secondary-color: #000000;
    --text-on-background-color: #000000;

    --text-on-carousel-color:#fff;
    --border-radius:10px;
    --text-color-secondary:#ccc;
    --text-color-primary:#eee;
}


