body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*background: black; !* fills empty space around the video *!*/
}

/*-------------------------------------------------------------------------------------------------------------------------------------
/*-------------------------------------------------------Auto Image Slideshow-----------------------------------------------------------
/*--------------------------------------------------------------------------------------------------------------------------------------*/

.slideshow-container {
    width: 100%;
    height: 100vh;
    position: relative;
    /*overflow: hidden;*/
}

.slides-wrapper {
    position: absolute;
    z-index: -1;
    width: 400vw; /* 4 images × 100vw each */
    height: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.slides-wrapper img {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}


@keyframes slide {
    0%, 20%{
        transform: translateX(0);
    }
    25%,45%{
        transform: translateX(-100vw);
    }
    50%, 70%{
        transform: translateX(-200vw);
    }
    75%,95%{
        transform: translateX(-300vw);
    }
    100%{
        transform: translateX(0vw);
    }
}


#intro {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5em 0.5em;
    color: #fff;
}

#intro h3 {
    font-size: 1.5em;
    line-height: 0;
}

.price {
    font-size: 1.6em;
    line-height: 0.55;
}

#intro p{
    padding-top: 310px;
    /*word-wrap: break-word;*/
    text-align: left;
    width: 70ch;
}

.itinerary-section {
    background-color: #6c6c6c;
    color: white;
    padding: 50px 0;
}

.itinerary-container {
    display: flex;
    justify-content: space-between; /* pushes content left and buttons right */
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.day-content {
    width: 75%;
    padding-right: 30px; /* space between text and buttons */
}

.day-buttons {
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    border-radius: 20px;
    padding: 10px;
    position: sticky;     /* stays in view only inside itinerary section */
    top: 100px;           /* distance from top when sticking starts */
    height: fit-content;
    right: 0;             /* ensures it stays at the right side */
}

.day-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.day-btn:hover,
.day-btn.active {
    background-color: #444;
}

.day h2 {
    margin-top: 0;
}

.itinerary-section h1 {
    margin-left: 50px;
    margin-top: 0px;
    font-size: 45px;
    font-family: "Arial Rounded MT Bold", sans-serif;
}